In [1]:
import pandas as pd

In [2]:
input_df = pd.read_csv("input.txt", sep="\s+", names=["list_1", "list_2"])
input_df

     list_1  list_2
0     40094   37480
1     52117   14510
2     92290   82570
3     41563   59882
4     56597   98604
..      ...     ...
995   59322   66508
996   98442   10520
997   15717   73514
998   20342   72228
999   13498   75812

[1000 rows x 2 columns]

In [3]:
list_1 = sorted(input_df["list_1"].to_list())
list_2 = sorted(input_df["list_2"].to_list())

In [4]:
diff = []
for i in range(len(list_1)):
    diff.append(abs(list_1[i] - list_2[i]))
    
# diff

In [5]:
sum(diff)

2430334

# part 2

In [6]:
from collections import Counter

In [7]:
# list_1 = [3,4,2,1,3,3]
# list_2 = [4,3,5,3,9,3]

In [8]:
list_1_dict = Counter(list_1)
list_2_dict = Counter(list_2)

In [9]:
similarities = []
for i in range(len(list_1)):
    list_id = list_1[i]
    similarities.append(list_id * list_2_dict[list_id])

# similarities

In [10]:
sum(similarities)

28786472